<h1>Stupid Coaching</h1>
<p><%= @question %></p>
<p style="font-style: italic">-You</p>
<p><%= @answer %></p>
<p style="font-style: italic">-Your coach</p>

<%= link_to "Ask another question", ask_path %>