// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    display: block;
    background-color: #F0F2F5;
    height: 100vh;
    justify-items: center;
    justify-content: center;
  }
  
  input {
    margin: 5px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 4px;
    padding: 4px 6px;
  }

  form{
    display: block;
    align-content: center;
    justify-items: center;
    width: 100%;
  }

  